langchain_openai 
langchain_core
python-dotenv
langchain_community
langserve
fastapi
bs4
langchain
pypdf
chromadb
faiss-cpu
beautifulsoup4
langchain-groq
wikipedia
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox